body{background: #efefef;margin: 0;}
a{text-decoration: none;color: inherit;}
*{margin: 0px;padding: 0px;}
hr{height: 0;border: none;border-top: 1px solid #dedede;}
ul,ol{list-style: none;}
h1,h2,h3,h4,h5,h6{font-weight: normal;/* 标题不加粗 */}
.clearfix::after{content: '';display: block;clear: both;}
.topNavBar-inner{padding: 0 16px;}
.topNavBar nav > ul {list-style:none;margin: 0;padding: 0;}
.topNavBar{padding: 20px 0px 20px 0px;position: fixed;top: 0px;left: 0px;width: 100%;
    transition: all 0.5s; color: #b7b7b7;
}
.topNavBar.sticky{background: white;padding: 10px;color: #3d4451;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);z-index: 1;}
.topNavBar nav > ul > li{float:left;margin-left: 17px;margin-right: 17px;position: relative;}
.topNavBar nav{padding-top: 8px;}
.topNavBar nav > ul > li > a{font-size: 12px;color: inherit;text-decoration: none;font-weight: bold;border-top: 3px solid transparent;border-bottom: 3px solid transparent;padding-top: 5px;padding-bottom: 5px;display: block;position: relative;}
.topNavBar nav > ul > li.active > a::after{content: '';display: block;position: absolute;top:100%;left: 0;width:100%;height: 3px;background: #e06567;animation: menuSlide 0.3s;}
@keyframes menuSlide{
    0%{width:0;}
    100%{width: 100%;}
}
.topNavBar .submenu{
    display: none;
    position: absolute;
    right: 0;               
    /* 右对齐 */
    top: 100%;
    background: white;
    color: #3d4451;
    box-shadow: 0 0 5px rgba(0,0,0,0.5)
}

.topNavBar li.active .submenu{
    display: block;
    animation: submenuSlide 0.3s;
}
@keyframes submenuSlide{
    0%{
        margin-right: 100%;
    }
    100%{
        margin-right: 0;
    }
}
.topNavBar .submenu >li{
    white-space: nowrap;
    padding: 5px 10px; 
    /* 子菜单中的元素的间距 */
}
.topNavBar .logo{font-size: 24px;font-family: "Arial Black";padding-top: 3px;padding-bottom: 4px;}
.topNavBar .logo .rs{margin-right: 4px;color: #e6686a}
.topNavBar .logo .card{color: #9a9da2;}

.banner{background-image: url(./rs-cover.jpg);height: 515px;background-position: center center;background-size: cover;}
.banner .mask{height: 515px;background-color: rgba(0,0,0,0.8);}

.userCard{max-width: 940px;margin-left: auto;margin-right: auto;background-color: #ffff;box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.5);}
.userCard .welcome{color: white;background: #e6686a;display: inline-block;padding: 4px 16px;line-height: 22px; position: relative;}
.userCard .welcome .triangle{display: block;border: 10px solid transparent;width: 0px;border-left-color: #e66b6a;border-top-width: 0px;position: absolute;left: 4px;top: 100%;}
.userCard .picture{float: left;}
.userCard .text{float: left;margin-left: 65px;width: 470px}
.userCard .text h1{margin-top: 18px;} 
.userCard .text p{margin-top: 6px;}
.userCard .text hr{margin: 20px 0px;}
.userCard .pictureAndText{padding: 50px;}
.userCard dl dt,
.userCard dl dd{float: left;padding: 5px 0;}
.userCard dl dt{width: 30%;font-weight: bold;}
.userCard dl dd{width: 70%;color: #9da0a7;}
.userCard > footer.media{background: #e6685a;text-align: center;}
.userCard > footer.media > a{display: inline-block;width: 40px;line-height: 30px;padding: 5px 0;border-radius: 50px;margin: 16px;}
.userCard > footer.media > a:hover{background: #D96164;}
.userCard svg{width: 30px;height: 30px;fill: white; vertical-align: top;position:}

body > main{margin-top:-350px;}
body > main .downloadResume-wrapper{text-align: center;}
body > main .downloadResume{font-size: 14px;line-height: 16px;padding: 21px 55px;border: 1px solid#cdcfd1;
    background: #efefef; display: inline-block;border-radius:2px;color: #3d4451;font-weight: bold;margin: 32px 0px; transition: box-shadow 0.5s;}
body > main .downloadResume:hover{box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.2);}

.selfIntroduction{max-width: 940px;margin-left: auto;margin-right: auto;text-align: center;font-family: cursive;line-height: 1.8;font-size: 18px;}
section.skills,
section.portfolio{  /* 这样子写表示的是技能和作品集都是同样的样式 */max-width: 940px;margin-left: auto;margin-right: auto;margin-top: 60px;}
section.skills > h2,
section.portfolio > h2{     /* 注意：千万不能再“{”前面有逗号，否则会有很多错误 */text-align: center;color: #3d4451;font-size: 34px;line-height: 1.2;font-weight: 600;}
section.skills > h3{font-size: 14px;line-height: 1.1;padding-right: 40px;}
section.skills > ol{background-color: #ffff;box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.5);padding: 42px 50px 10px;margin: 30px;}
section.skills > ol > li{float: left;width:48%;float: left;
    /* box-sizing: border-box;    */
    /*width:50%; 时，border是算在50%里面的，padding是在border里面的，这时整体宽度是50%*/
    /*宽度和padding是分开的，不能直接加padding*/
    /* padding-right: 10px; */
    /* 这样添加会出现所有的li都会出现右边多出10px来不满足要求 */}
section.skills > ol > li:nth-child(even){float: right;
    /* 此段表示的是在所有的li中，选中第偶数个的li进行操作，如果想要选中技术的li：even-->odd 
    此时配合上面设置的所有li都左浮，偶数的li右浮，这时就会出现左边的靠左，右边的靠右*/}
section.skills .progressBar{height: 5px;background: #fae1e1;border-radius: 2px;  /* 圆角 */
    margin: 4px 0 40px;  /* 上面是4像素，下面是40像素 *//* 这一个是进度条 */}
section.skills .progressBar > .progress{height: 100%;background: #e66b6a;width: 70%;/* 这一个是进度条内部的那个条，只有70%的长度，宽度设置为100%，嵌套在进度条里面，
    所以就会是进度条的宽度 */}
section.portfolio{text-align: center;margin-bottom: 100px;}
section.portfolio > nav{text-align: center;}
section.portfolio > nav > ol{margin: 0 auto;display: inline-block;
    /* 加了这一句之后一定要加上下面这一句，不然就会出现bug，
    这个bug就是在显示的的小框下面会有一个小的空隙*/
    vertical-align: top;
    /* 加上这些语句之后显示的内容并没有真正的居中，这个时候就需要使用到下面的li:nth-child(1)，
    将第一个显示的元素的margin-left设置为0px就行了，用0覆盖了section.portfolio > nav > ol > li
    中的margin-left的值 */}
/* 以上是将下面显示的这一段文字在界面中进行居中，下面这一段是左浮的，
不能将左浮的居中，而应该是将左浮的元素的父类进行居中 */
section.portfolio > nav > ol > li{float: left;margin-left: 40px;cursor: pointer;    /* 这一句的主要意思就是将鼠标变为手型的图标 */}
section.portfolio > nav > ol > li:nth-child(1){margin-left: 0px;}
/* section.portfolio > nav > ol > li:first-child和上面的nth-child(1)是一样的 */
section.portfolio > nav{display: inline-block;vertical-align: top;margin-top: 32px;}
/* bar默认是和nav一样宽，让nav往内缩，而nav默认是和section一样宽，
这个时候就得让nav的属性为display：inline-block，
这个时候还需要设置section.portfolio的属性为text-align: center;进行居中 */
section.portfolio > nav >.bar{height: 5px;background: white;margin-top: 5px;margin-bottom: 28px;border-radius: 2px;}
section.portfolio > nav .bar-inner{height: 100%;background: #e66b6a;width: 10%;border-radius: 2px;margin-left: 140px;transition: all 0.3s;  /* 这一句的主要功能是将所有的变化都变为0.3秒 */}
section.portfolio > nav .bar.state-1 .bar-inner{margin-left: 0;width: 50px;}
section.portfolio > nav .bar.state-2 .bar-inner{margin-left: 65px;width: 50px;}
section.portfolio > nav .bar.state-3 .bar-inner{margin-left: 140px;width: 96px;}
/* 以上三段实现的是点击三个不同的按钮就会出现不同的效果，这一部分是属于js的内容，
这里主要设置的是通过设置state来实现的，在html中编写点击跳转的代码 */
section.portfolio .works{position: relative;}
section.portfolio .works .big,
section.portfolio .works .small{position: absolute;}
/* 以上两段实现的是图片的布局，这里是固定位置的形式来布局的，主要就是通过设置宽高等参数，
这个works是位于portfolio中的，所以，works是居中的。 */
.f1 .f2{

}